@import "tailwindcss";
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'bootstrap/dist/css/bootstrap.min.css';

.chrome-picker {
  width: auto !important;
  box-shadow: none !important;
  border-radius: 0.5rem !important;
  overflow: hidden !important;
}

.pac-container {
  z-index: 9999 !important; /* Must be higher than Bootstrap modal */
  position: absolute !important;
}